<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    <link rel="stylesheet" href="/css/home/home-styles.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" href="/images/favicon2.png" type="image/x-icon">
</head>

<body>

    <header>

        <div id="title__container">
            <picture class="header__logo">
                <img src="/images/webnotes.png" alt="">
            </picture>

            <h2 class="header__title">WebNotes</h2>
        </div>

        <div id="user__buttons">
            <a class="user__settingsBtn" href="{{ getApiUrl }}/user/profile"> {{ dictionary.profile }} </a>

            <form class="form__log__out" action="{{ getApiUrl }}/api/auth/logout" method="post">

                <input class="log__out" type="submit" value="{{ dictionary.logOut }}">
            </form>
        </div>

    </header>

    <div class="container">

        <div class="profile__container">

            <form action="" class="content__form">

                <input type="text" placeholder="{{ dictionary.search_something }}" class="input__search">
                <button class="content__search" type="submit"><i class="fa fa-search"></i></button>

            </form>

            <button class="content__add__note">
                <big><b>{{ dictionary.add_note }}</b></big>
            </button>

            <div class="content__notes">

                <!-- Template de las notas 
                <div class="notes__note">

                    <div class="notes__note">

                    <h3 class="note__title">Instalación de arch</h3>

                    <p class="note__content">Para la instalación de arch se necesitan</p>

                    <p class="note__date">Thursday, 8 July 2022 at 22:53</p>

                </div>
                -->

                {{#each nota}}

                <!-- 
                
                modified_at -> base de datos
                date -> objeto nota
                
                -->

                <div id="{{_id}}" class="notes__note" modified_at="{{formatTime modified_at 'LLL'}}">

                    <h3 class="note__title">{{title}}</h3>

                    <p class="note__content">{{content}}</p>

                    <p class="note__date">{{formatTime date 'LL'}}</p>

                </div>

                {{/each}}

            </div>
        </div>

        <div class="notes__content__container">

            <textarea class="input__title" cols="39" rows="1" placeholder="{{ dictionary.title }}"></textarea>

            <textarea class="input__body" cols="30" rows="15" placeholder="{{ dictionary.input_text }}"></textarea>

            <p class="modified__at"></p>

            <div class="note__buttons">
                <button class="note__save note__button">{{ dictionary.save }}</button>
                <button class="note__delete note__button">{{ dictionary.delete }}</button>
                <button class="note__cancel note__button hidden">{{ dictionary.cancel }}</button>
            </div>

        </div>
    </div>
    <footer>

    </footer>

    <script type="module" src="/js/app.js"></script>
</body>

</html>