<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LogIn</title>

    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/login-responsive.css">

    <link rel="icon" type="image/png" href="/images/favicon2.png" type="image/x-icon">
</head>
<body>
    
    <div id="container">
        <picture id="logo">
            <img class="logo__picture" src="/images/logo.svg" alt="">

        </picture>

        <div class="form__container">

            <br><h1>WebNotes</h1><br>

            <p>{{ dictionary.subtitle }}</p><br>

            <div id="error__message">
                {{ errors }}
                {{ fields_errors }}
            </div>

            <form action="{{ getApiUrl }}/api/auth/login" method="post">

                <input class="input" type="text" placeholder="{{ dictionary.email }}" name="username">

                <input class="input" type="password" placeholder="{{ dictionary.password }}" name="password">

                <p class="text__forgot">
                    <a class="forgot__password" href="">
                        <small>{{ dictionary.forgot_password }}</small>
                    </a>
                </p>

                <input class="date__hidden" type="hidden" name="timezone" value="">
                <input class="language__hidden" type="hidden" name="language", value="">

                <input class="login__button" type="submit" value="{{ dictionary.login }}">
            </form>

            <p class="container__or">
                <span class="text">or</span>
            </p><br>
    
            <a href="{{ getApiUrl }}/api/auth/google" id="google-sigin">{{ dictionary.signin_with_google }}</a>

            <div class="signUp__container">
                <p>{{ dictionary.new_user }}</p>
                <a href="/user/signin">{{ dictionary.register }}</a>
            </div>

        </div>
    </div>
    
    <script type="module" src="/js/user/sendUserSettings.js"></script>
    <script type="module" src="/js/helpers.js"></script>
</body>
</html>