<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>

    <link rel="stylesheet" href="/css/profile/profile.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" href="/images/favicon2.png" type="image/x-icon">
</head>

<body>

    <header>

        <div id="title__container">
            <picture class="header__logo">
                <img src="/images/webnotes.png" alt="">
            </picture>

            <h2 class="header__title">WebNotes</h2>
        </div>

        <div id="user__buttons">
            <a class="user__settingsBtn" href="{{ getApiUrl }}/user/home"> Home </a>
        </div>

    </header>

    <div class="container">

        <div class="profile__container">

            <div class="option account">
                <img class="card__icon" src="/images/userIcon.png" alt="">
                <p class="card"><b>Account</b></p>
            </div>

            <div class="option password">
                <img class="card__icon" src="/images/keyLockIcon.png" alt="">
                <p class="card"><b>Password</b></p>
            </div>

        </div>

        <div class="notes__content__container">

            <!-- Template of setting element  
            <div class="setting">

                <Elements></Elements>

            </div>
            -->

            <form id="account__options"  class="account__settings inactive__option" onsubmit="">
                <div class="user__settings">
                    <div class="setting">
                        <label class="setting__title" for="username">{{ userAccount.username }}</label><br>
                        <input class="setting__input username" value="{{ user.username }}" name="username" type="text">
                        <p class="response__message username__message"></p>
                    </div>

                    <div class="setting">
                        <label class="setting__title" for="email">{{ userAccount.email }}</label><br>
                        <input class="setting__input email" value="{{ user.email }}" name="email" type="email">
                        <p class="response__message email__message"></p>
                    </div>
                </div>

                <div class="user__preferences">
                    <div class="setting">
                        <label class="setting__title" for="language">{{ userAccount.language }}</label><br>

                        <select class="setting__input language" name="language">
                            {{#each options.languages}}

                            <option value="{{@key}}" {{isSelected ../user.language @key }} >
                                {{this}}
                            </option>

                            {{/each}}
                        </select>
                        <p class="response__message language__message"></p>
                    </div>

                    <div class="setting">
                        <label class="setting__title" for="timezone">{{ userAccount.timezone }}</label><br>

                        <select class="setting__input timezone" name="timezone">
                            <!-- <option value="UTC-11">UTC-11:00</option> -->
                            
                            {{#each options.timezones }}

                            <option value="{{@key}}" {{isSelected ../user.timezone @key}}>
                                {{ this }}
                            </option>

                            {{/each}}

                        </select>

                        <p class="response__message timezone__message"></p>
                    </div>
                </div>

                <div class="setting__buttons">
                    <button type="submit" class="setting__save">Update</button>
                    <button type="reset" class="setting__cancel">Cancel</button>
                </div>
            </form>

            <form id="account__password" class="account__settings inactive__option" onsubmit="">
                <div class="user__settings">
                    <div class="setting">
                        <label class="setting__title" for="password">{{ userPassword.current_password }}</label><br>
                        <input autocomplete="on" class="setting__input" name="currentPassword" type="password">
                    </div>

                    <div class="setting">
                        <label class="setting__title" for="newPassword">{{ userPassword.new_password }}</label><br>
                        <input class="setting__input" name="newPassword" type="password">
                    </div>
                </div>

                <div class="user__preferences">
                    <div class="setting">
                        <label class="setting__title" for="repeatPassword">{{ userPassword.repeat_password }}</label><br>
                        <input class="setting__input" name="repeatPassword" type="password">
                    </div>

                    <div class="password__message">

                    </div>
                </div>

                <div class="setting__buttons">
                    <button type="submit" class="setting__save">Update</button>
                    <button type="reset" class="setting__cancel">Cancel</button>
                </div>
            </form>

        </div>
    </div>
    <footer>

    </footer>


    <script type="module" src="/js/profile/app.js"></script>
</body>

</html>