<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LogIn</title>

    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/signin.css">
    <link rel="stylesheet" href="/css/login-responsive.css">

    <link rel="icon" href="/images/favicon2.png" type="image/x-icon">
</head>
<body>
    
    <div id="container">
        <picture id="logo">
            <img class="logo__picture" src="/images/logo.svg" alt="">

        </picture>

        <div class="form__container">

            
            <br><h1>WebNotes</h1><br>

            <p>{{ dictionary.subtitle }}</p><br>

            <div id="error__message">
                {{ fields_errors }}
            </div>

            <form action="https://webnoteseasy.herokuapp.com/api/auth/signin" method="post">

                <input class="input" type="text" placeholder="{{ dictionary.username }}" name="username">

                <input class="input" type="text" placeholder="{{ dictionary.email }}" name="email">

                <input class="input" type="password" placeholder="{{ dictionary.password }}" name="password">

                <input class="input" type="password" placeholder="{{ dictionary.repeat_password }}" name="password_repeat">

                <br>

                <input class="login__button" type="submit" value="{{ dictionary.signIn }}">
            </form>
        </div>
    </div>

</body>
</html>